{% extends "home/common.html" %}
{% block content %}
	<!-- //网站头部 -->
    <div id="home-mainbody" class="container home-mainbody">
        <div class="row">
            <!-- 页面主体内容 -->
            <div id="home-content" class="home-content col-xs-12">
                <div id="mrshop" class="mrshop common-home">
                    <div class="container_oc">
                        <div class="container_oc">
                            <div class="breadcrumb"></div>
                        </div>
                        <div class="row">
                            <div id="content_oc" class="col-sm-12" style="min-height:300px;">
                                <h1>Cart</h1>
                                <div class="table-responsive cart-info" style="margin-bottom:50px;">Your cart is empty!</div>
                                <div class="buttons">
                                    <div class="pull-left">
                                        <a href="{{url_for('home.index')}}" class="btn btn-primary btn-default">Continue shopping</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //页面主体内容 -->
        </div>
    </div>
{% endblock %}
