<!-- 版权栏 -->

<div class="container" style="margin-top:30px;border-top: 1px solid #D9D9D9;">
    <div id="footer">
        <dl class="foot">
            <dt>Shopping Instructions</dt>
            <dd>
                <div>
                    <a href="#" target="_blank" rel="stylesheet">Shopping process</a>
                </div>
                <div>
                    <a href="#" target="_blank" rel="stylesheet">Membership</a>
                </div>
            </dd>
        </dl>
        <dl class="foot">
            <dt>Shippment Methods</dt>
            <dd>
                <div>
                    <a href="#" target="_blank" rel="stylesheet">Pick up</a>
                </div>
                <div>
                    <a href="#" target="_blank" rel="stylesheet">Delivery</a>
                </div>
            </dd>
        </dl>
        <dl class="foot">
            <dt>Payment Methods</dt>
            <dd>
                <div>
                    <a href="#" target="_blank" rel="stylesheet">Cash on delivery</a>
                </div>
                <div>
                    <a href="#" target="_blank" rel="stylesheet">Online</a>
                </div>
            </dd>
        </dl>
        <dl class="foot">
            <dt>Customer Service</dt>
            <dd>
                <div>
                    <a href="#" target="_blank" rel="stylesheet">Return policy</a>
                </div>
                <div>
                    <a href="#" target="_blank" rel="stylesheet">Price protection</a>
                </div>
            </dd>
        </dl>
        <dl class="foot">
            <dt style="padding-left: 7px">Contact Us</dt>
            <dd>
                <img src="{{ url_for('static',filename='home/images/gzh.jpg') }}" alt="微信公众号">
                <span style="padding-left: 24px">WeChat</span>
            </dd>
        </dl>
        <dl class="foot">
            <dt style="padding-left: 7px">Contact Us</dt>
            <dd>
                <img src="{{ url_for('static',filename='home/images/bili.png') }}" alt="ins">
                <span style="padding-left: 18px">Instagram</span>
            </dd>
        </dl>
    </div>
</div>
<footer id="home-footer" class="wrap home-footer">
    <section class="home-copyright">
        <div class="container">
            <div style="width:auto; height:auto; margin:auto;">
                <small>Copyright(C). Create By Digital 2023, All Rights Reserved | <a style="color: orangered" href="/admin">Data management system</a>
                </small>
            </div>
        </div>
    </section>
</footer>