{% extends "admin/common.html" %}
{% block content %}
    <table width="100%" height="288" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <tr>

            <td align="center" valign="top">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td height="45" align="right">&nbsp;</td>
                        <td colspan="5" class="tableBorder_B_dashed" width="1230px">
                            <img src="{{ url_for('static',filename='admin/images/manage_ico1.GIF') }}" width="11"
                                 height="11">&nbsp;
                            <a href="{{ url_for('admin.supercat_list') }}"> [Super Category Management]</a>&nbsp;&nbsp;&nbsp;
                            <img src="{{ url_for('static',filename='admin/images/manage_ico2.GIF') }}" width="11"
                                 height="11">&nbsp;
                            <a href="{{ url_for('admin.subcat_list') }}">[Sub Category Management]</a>&nbsp;&nbsp;&nbsp;
                            <img src="{{ url_for('static',filename='admin/images/manage_ico3.GIF') }}" width="12"
                                 height="12">&nbsp;
                            <a href="{{ url_for('admin.goods_add') }}">[Add Goods]</a></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="right">&nbsp;</td>
                        <td height="10" colspan="3">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                </table>
                <table width="100%" height="48" border="1" cellpadding="10" cellspacing="0" bordercolor="#FFFFFF"
                       bordercolordark="#CCCCCC" bordercolorlight="#FFFFFF">
                    <tr align="center">
                        <td width="80%">Title</td>
                        <td width="20%">Quantity</td>
                    </tr>
                    {% for v in data %}
                        <tr align="center">
                            <td>{{ v.goods.name }}</td>
                            <td>{{ v.number }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>

{% endblock %}